body {
    color: #182983;
    font-family: Verdana;
    font-size: 11pt;   
}

h1 {
    font-size: 30px;
	font-weight:normal;
}

h2 {
    font-size: 16px;
	font-weight:normal;
}

h3 {
    font-size: 16px;
	font-weight:normal;
}

h4 {
    padding-top:0px;
    margin-top:0px;
}

h5 {
    font-size: 12px;
	font-weight:normal;
}

h6 {
    font-size: 10px;
	font-weight:lighter;
	line-height:0.7em;
	margin:auto;
    line-height: 1.5;
}


 .mark
{
    color:#0000ff;
}

#ausloggen_btn {
margin-right:10px;
}

#header { 
    width: 100%;
    height: 59px;
    background-image: url("/images/bar.jpg");       
}

#header table {
    margin-left: auto;
    margin-right: auto;
    width: 988px;
    font-size: 12px;
    padding-top: 6px  
}

#contentinternal1 table {
    margin-left: auto;
    margin-right: auto;
    width: 988px;
    padding-top: 6px  
}

#content {
    min-height: 490px;
    background-image: url("/images/background.png");
	background-repeat: no-repeat;
	background-position: center center;
    width:100%;
}

#contentinternal1 {
    width:988px;
    margin-left: auto;
    margin-right: auto;
}

#warenkorb {
	width: 988px;
	font-size: 12pt;
	text-align:left;
}

#user {
	width: 988px;
	font-size: 12px;
	text-align:left;
}


.txt_input1 {
    border:none;
    background-color: transparent;
	height: 25px;
    margin-top: 7px;
padding-left: 13px;
margin-left:17px;
    }

#passwort
{
padding-left: 14px;
margin-left:22px;
}


.txt_input {
padding-left: 10px;
    outline-width:thin;
	outline-color:#172983;
	height: 24px;
	border-radius: 4px; 
    margin-top: 5px;
}

#login_content {
    height: 550px;
    background-color: "#000000";
    background-image: url("/images/photos/background2.jpg");
    background-repeat: no-repeat;
    background-position: center;
        padding-top: 200px;
}

#login_form {
    width: 298px;
    height: 297px;
    vertical-align: middle;

    background-image: url("/images/masks/Login.png");
}

#footer1 {
    clear:both;
    width:100%;
}

#footer1 p {
    width: 988px;
    margin-left: auto;
    margin-right: auto;
    font-size: 9px;
}

#footer {
    height: 59px;
    background-image: url("/images/bar.jpg");
    vertical-align:middle;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 8pt;
    margin-bottom: auto;                  
}

#footer table {
    width: 988px;
    font-size: 9px;
}

#wrapper {
    width:100%;
    margin-bottom:80px;  
}

#wrapperinternal {
    width:988px;
    margin-left: auto;
    margin-right: auto;
}

#consoleinternal {   
    float:right;
    width:250px;
    background-image: url("/images/masks/mask4.png");
    background-repeat: no-repeat;
    padding-top:14px;
    padding-left:24px;
    min-height:432px;
}

#contentinternal {
    width:714px;
    float:left;
}

#imagecell {
    width:238px;
    text-align:center;
}

#images_imgbtn {
    margin:2px;
}

#images_imgbtn1 {
    margin-right:20px;
    margin-bottom:20px;
}

#productType_lv {
color:white;
}

#contentinternal input{
    padding: 10px 5px;
}

#error_div {
    background-color: black;
    background: rgba(0, 0, 0, .85);
    position: absolute;
    text-align: center;
    padding: 100px;
    width: auto;
    height: auto;
    left: 3px;
    top: 3px;
    color:white;
    font-weight:bold;
}

#error_meldung {
    font-size:14px;
    color:red;
}