<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <customErrors mode="Off"/>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" executionTimeout="1200" maxRequestLength="100000" />
    </system.web>
  <appSettings>
    <add key="storePath" value="E:\Storepath\"></add>
    <add key="sqlConnection" value="Server=db.xxxxyyyy.com;Database=xxxxyyyy;User Id=admin;Password=pw;"></add>
    <add key="smtpServer" value="smtp.1und1.de"></add>
    <add key="smtpUser" value="mail@smptserver.com"></add>
    <add key="smtpPassword" value="xy"></add>
    <add key="smtpSender" value="mail@smptserver.com"></add>
    <add key="smtpDefaultReceiver" value="mail@stdreceiver.com"></add>
    <add key="basePath" value="demo"></add>
    <add key="demo" value="true"></add>

  </appSettings>
</configuration>
