<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ISBusinessLayer.Properties.Settings.imageDBConnectionString"
            connectionString="Data Source=localhost\SQLExpress;Initial Catalog=imageDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ISBusinessLayer.Properties.Settings.imageDBConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=imageDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>